<!DOCTYPE html>
<html lang="en"><head>
		<meta charset="utf-8">
		<title>图书馆赠书芳名录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.css">

		<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap-ie6.css">
		<![endif]-->
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/ie.css">
		<![endif]-->

		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}

		</style>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{% url 'home_page' %}">赠书芳名录</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li ><a href="http://cstc.lib.stu.edu.cn/">Home</a></li>
						</ul>
						<form method="POST" action="{% url 'search_donor' %}" class="navbar-search pull-right">
							<input type="text" name="keyword" placeholder="捐赠单位或个人" class="search-query span2">
							{% csrf_token %}
						</form>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span1">
				</div><!--/span-->
				<div class="span10">
					<div class="hero-unit">
						<div class="row-fluid">
							<img class="img-rounded span1" src="{{STATIC_URL}}zenshu/libicon3.jpg">
							<div class="span9">
								<h2>特藏组潮汕文献赠书芳名录</h2>
								<p>谨向关心支持我馆潮汕文献建设发展的单位和个人表示衷心感谢!</p>
							</div>
						</div>
					</div>
					{% block content %}{% endblock %}
				</div><!--/span-->
			</div><!--/row-->

			<hr>

			<footer>
			<p>【Copyright(©) 汕大图书馆特藏组】</p>
			</footer>

		</div><!--/.fluid-container-->


		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-ie.js"></script>
		<script type="text/javascript">

		</script>

</body></html>
