{% extends "zenshu/index_base.html" %}


{% block right-content %}
{% regroup donors by name_index as donor_index_list %}
{% for index in donor_index_list %}
{% if index.grouper %}
<section id="{{ index.grouper }}">
<br>
<div class="page-header">
<h3>{{ index.grouper }}</h3>
</div>
{% regroup index.list by donor_type as donor_type_list %}
	<div class="row">
	{% for type in donor_type_list %}
		{% ifequal type.grouper 1 %}
		<div class="span7">
		{% else %}
		<div class="span2">
		{% endifequal %}
		{% for donor in type.list %}
			<li><a class="btn-link" href="{{ donor.get_absolute_url }}">{{ donor.name }}</a></li>
		{% endfor %}
		</div>
	{% endfor %}
	</div>
</section>
{% endif %}
{% endfor %}
{% endblock %}
