{% extends "zenshu/base.html" %}

{% block extra_header %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'feed_latest' %}" />	
{% endblock %}


{% block content %}
<div class="hero-unit my-hero-unit ">
	<div class="row" style="background-color:rgba(255,255,255,0.2)">
		<img class="img-rounded span1" src="{{STATIC_URL}}zenshu/lib-icon.jpg">
		<div class="span9" >
			<h3>汕头大学图书馆特色文献服务部赠书芳名录</h3>
			<p class="pull-right">谨向关心支持我馆文献资源建设的单位和个人表示衷心感谢！</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span2 text-center">
		<strong>姓名索引</strong>
	</div>
	<div class="span5 text-center">
		<strong>单位（或团体）赠书</strong>
	</div>
	<div class="span5 text-center">
		<strong>个人赠书</strong>
	</div>
</div>
<div class="row">
	<div class="span2">
		{% block left-sidebar %}
		<div class="my-sidebar">
			<ul class="nav nav-list my-sidenav my-sidenav-top">
				{% for index in indexes %}
				{% if index.name_index %}
				<li class=""><a href="{% url 'donor_index' %}#{{ index.name_index }}"><i class="icon-chevron-right"></i>{{ index.name_index }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% endblock %}
	</div>
	{% for donor_list in donor_list_set %}
	<div class="{% ifequal 1 forloop.counter %}span5{% else %}span5{% endifequal %}">
		{% for donor in donor_list %}
		<div class="my-div ">
			<div class="row-fluid">
				{% with photo=donor.top_cover %}
				{% if photo %}
				<div class="span3" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
					<a href="{{ photo.image.url }}" target="_blank" title="{{ photo.name }}" data-gallery="gallery">
						<img class="img-rounded my-image" src="{{ photo.thumbnail.url}}"> 
					</a>
				</div>
				{% endif %}
				<div class="{% if photo %}span9{% else %}span12{% endif %}">
					{% endwith %}
					<a class="btn-link" href="{{ donor.get_absolute_url }}">{{ donor.name }}</a> 
					<ul>
						{% for book in donor.top_books %}
						<li><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
<div class="row">
	<div class="span10 offset2">
		<a class="btn-link" href="{% url 'list_donors' 1 %}">更多赠书……</a>
	</div>
</div>
{% endblock %}

