{% extends "zenshu/base.html" %}

{% block content %}
<div class="row">
<div class="span3">
{% block left-sidebar %}
{% regroup donors by name_index as donor_index_list %}
<div class="my-sidebar">
	<ul class="nav nav-list my-sidenav affix">
		<li class="my-sidebar-title"><strong>索引</strong></li>
		{% for index in donor_index_list %}
		{% if index.grouper %}
		<li class=""><a href="{% block index_prefix %}{% endblock %}#{{ index.grouper }}"><i class="icon-chevron-right"></i>{{ index.grouper }}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}
</div>
<div class="span9 pull-right">
	{% regroup donors by name_index as donor_index_list %}
	{% for index in donor_index_list %}
	{% if index.grouper %}
	<section id="{{ index.grouper }}">
	<br>
	<div class="page-header">
		<h3>{{ index.grouper }}</h3>
	</div>
	{% regroup index.list by donor_type as donor_type_list %}
	<div class="row">
		{% for type in donor_type_list %}
		<div class="{% ifequal type.grouper 1 %}span7{% else %}span2{% endifequal %}">
			{% for donor in type.list %}
			<li><a class="btn-link" href="{{ donor.get_absolute_url }}">{{ donor.name }}</a></li>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	</section>
	{% endif %}
	{% endfor %}
</div>
</div>
{% endblock %}

{% block extend_js %}
	$('#body').scrollspy();
{% endblock %}
