{% extends "zenshu/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
<div class="row">
{% for donor in donors %}
<div class="span4">
		<div class="row-fluid">
			{% with photo=donor.top_cover %}
			{% if photo %}
			<img class="span3 img-rounded" src="{{ photo.thumbnail.url}}">
			{% endif %}
			<div class="{% if photo %}span9{% else %}span12{% endif %}">
				<h4><a class="btn-link" href="{{ donor.get_absolute_url }}">{{ donor.name }}</a> 赠书：</h4>
				<ul>
					{% for book in donor.top_books %}
					<li><a class="btn-link" href="{{ book.get_absolute_url }}">{{ book.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endwith %}
		</div>
</div>
{% if forloop.counter|divisibleby:3 %}
</div>
<hr>
<div class="row">
{% endif %}
{% endfor %}
</div>
{% if is_paginated %}
{% bootstrap_paginate page_obj url_view_name='list_donors' range=10 %}
{% endif %}
{% endblock  %}
