{% extends "zenshu/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
<div class="hero-unit my-hero-unit ">
	<div class="row" style="background-color:rgba(255,255,255,0.2)">
		<img class="img-rounded span1" src="{{STATIC_URL}}zenshu/lib-icon.jpg">
		<div class="span9" >
			<h3>汕头大学图书馆特色文献服务部潮汕文献赠书芳名录</h3>
			<p class="pull-right">谨向关心支持我馆潮汕文献建设发展的单位和个人表示衷心感谢!</p>
		</div>
	</div>
</div>
<div class="row">
{% for donor in donors %}
	<div class="span4">
		<div class="row list-block hover-div">
			{% if donor.get_cover %}
			{% with photo=donor.get_cover %}
			<div class="span1" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
				<img class="img-rounded list-cover my-image" src="{{ photo.thumbnail.url}}"> 
			</div>
			{% endwith %}
			<div class="span3">
			{% else %}
			<div class="span4">
			{% endif %}
				<h4>{{ donor.name }} 赠书：</h4>
				<p>
					{{ donor.get_books_string|linebreaksbr }}
					<a class="btn-link" href="{{ donor.get_absolute_url }}"><span class="hyperspan"><br><br><br><br></span></a>
				</p>
			</div>
		</div>
	</div>
	{% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
	{% endif %}
{% endfor %}
</div>
{% if is_paginated %}
{% bootstrap_paginate page_obj url_view_name='list_donors' range=10 %}
{% endif %}
{% endblock  %}
