.my-hero-unit {
	background-color:white;
	background-image: url("donor_list_background.jpg");
	background-position: 50% bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.pos-relative { position: relative; }
.list-cover { 
	position: absolute; 
	top: 5%; 
	z-index:2; 
}
.list-block { height: 150px; 
	position: relative; 
}

.hyperspan-black, .hyperspan-white {
	opacity: .1;
	position:absolute;
	width:98%;
	height:95%;
	left:0%;
	top:5%;
	z-index:1;
	border-radius: 6px 6px 6px 6px;
}
.hyperspan-white {
	background: white;
}
.hyperspan-black {
	background: lightblue;
}
