{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
		<meta charset="utf-8">
		<title>图书馆赠书芳名录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">

		<link rel="stylesheet" type="text/css" href="{% static "zengshu/my.css" %}">
		<!--[if lte IE 6]>
			<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-ie6.css" %}">
		<![endif]-->
		<!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/ie.css" %}">
			<link rel="stylesheet" type="text/css" href="{% static "zengshu/my-ie.css" %}">
			<script src="{% static "html5/html5.js" %}"></script>
		<![endif]-->

		<link rel="stylesheet" href="{% static "bootstrap-image/css/bootstrap-image-gallery.min.css" %}">

		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
				position: relative;
			}

		</style>
		{% block extra_header %}{% endblock %}
	</head>

	<body id="body">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="http://www.lib.stu.edu.cn/">汕头大学图书馆</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="{% url 'zengshu:home_page' %}">赠书芳名录</a></li>
						</ul>
						<form method="POST" action="{% url 'zengshu:search_donor' %}" class="navbar-search pull-right">
							<input type="text" name="keyword" placeholder="捐赠单位或个人" class="search-query span2">
							<button class="btn-link my-ie-hidden" style="position: absolute; right: 5px; top: 3px;"type="submit">
								<i class="icon-search" ></i>
							</button>
							{% csrf_token %}
						</form>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">
			{% block content %}{% endblock %}

			<hr>

			<footer  class="footer">
				<div class="container text-center">
				<p>【Copyright(©) <a class="btn-link" href="http://www.lib.stu.edu.cn/">汕头大学图书馆</a>】</p>
				<p><strong>电话:</strong>0754-86502956    
				<strong>业务联系邮箱</strong>
				<a href="mailto:wjjin@stu.edu.cn"><i class="icon-envelope"></i></a>
				<strong>技术支持邮箱</strong>
				<a href="mailto:xdli@stu.edu.cn"><i class="icon-envelope"></i></a>
				</p>
				<p><strong>来信请寄：</strong>广东省汕头市大学路243号汕头大学图书馆 <strong>邮编：</strong>515063 </p>
        <!-- cnzz tongji -->
        <script src="http://s11.cnzz.com/z_stat.php?id=1254439597&web_id=1254439597" language="JavaScript"></script>
				</div>
			</footer>

		</div><!--/.fluid-container-->

		<!-- modal-gallery is the modal dialog used for the image gallery -->
		<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title"></h3>
			</div>
			<div class="modal-body"><div class="modal-image"></div></div>
			<div class="modal-footer">
				<a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i>上一张</a>
				<a class="btn btn-primary modal-next">下一张<i class="icon-arrow-right icon-white"></i></a>
				<a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i>幻灯片</a>
				<a class="btn modal-download" target="_blank"><i class="icon-download"></i>下载</a>
			</div>
		</div>


		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="{%static "html5/html5.js" %}"></script>
		<![endif]-->

		<script type="text/javascript" src="{% static "jquery/jquery-1.7.2.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery/jquery.html5-placeholder-shim.js" %}"></script>
		<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "bootstrap-bsie/js/bootstrap-ie.js" %}"></script>
		<script type="text/javascript" src="{% static "JavaScript-Load-Image/load-image.min.js" %}"></script>
		<script src="{% static "zengshu/my.js" %}"></script>
		<!--[if gt IE 6]>
    <script type="text/javascript" src="{% static "bootstrap-image/js/bootstrap-image-gallery.min.js" %}"></script>
		<![endif]-->
		<!--[if !IE]>-->
		<script type="text/javascript" src="{% static "bootstrap-image/js/bootstrap-image-gallery.min.js" %}"></script>
		<!--<![endif]-->
		<!--[if lte IE 8]>
		<script src="{% static "zengshu/my-ie.js" %}"></script>
		<![endif]-->
		<script type="text/javascript">
			// extended js block
			{% block extend_js %}{% endblock %}

			// baidu tongji
			var _hmt = _hmt || [];
			(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?100b30946d1fa46e0bafc410684f597e";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
			})();
		</script>
</body></html>
