{% extends "zengshu/base.html" %}

{% block content %}
<h2>{{ book.name }}</h2>
<a class="btn-link" target="_blank" href="{{ book.get_search_url }}">在图书馆中查找该书<i class="icon-hand-right"></i></a>
{% if donors.count %}
<p ><strong >赠书单位或个人：</strong>
	{% for donor in donors %}
	<a class="btn-link" href="{{ donor.get_absolute_url }}">{{ donor.name }}</a>
	{% endfor %}
</p>
{% endif %}
<p ><strong >赠书时间：</strong> {{ book.donate_date }}</p>
<p ><strong >赠送册数：</strong> {{ book.amount }}</p>
{% if book.author_name %}
<p><strong>作者：</strong>{{ book.author_name }}</p>
{% endif %}
{% if book.publisher %}
<p><strong>出版社：</strong>{{ book.publisher }}</p>
{% endif %}
{% if book.publish_date %}
<p><strong>出版年代：</strong>{{ book.publish_date|date:"Y" }}</p>
{% endif %}
{% if book.description %}
<p><strong>简介：</strong>{{ book.description }}</p>
{% endif %}
{% if photos.count %}
<p ><strong >相关图片：</strong> </p>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
	{% for photo in photos %}
	<a href="{{ photo.image.url }}" target="_blank" title="{{ photo.name }}" data-gallery="gallery">
		<img class="img-rounded my-image" src="{{ photo.thumbnail.url }}">
	</a>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
